/.venv
/AI Programm
/bank_new
/cv
/desktop.ini
/Docker Desktop.lnk
/Eclipse IDE for Java Developers - 2024-09.lnk
/GitHub Desktop.lnk
/iTunes.lnk
/KatsikasDimitrisMsc2013.pdf
/Microsoft Office
/MongoDBCompass.lnk
/Netflix.lnk
/PC1 PC2.py
/pip install numpy matplotlib.ini
/Scene Builder.lnk
/Stremio.lnk
/tinai
/Viber.lnk
/Webex.lnk
/XnView MP.lnk
/ΕΞΕΤΑΣΕΙΣ
/.env
